body {
    background-color: pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

.square-blue {
    background:blue;
    width: 5vw;
    height: 5vw;
}
.square-yellow {
    background:yellow;
    width: 5vw;
    height: 5vw;
}
.square-green {
    background:green;
    width: 5vw;
    height: 5vw;
}
/*.square h1 {
    color: #fff;
}*/